---
import Common from "../components/Common.astro";

import {CLIENTID, CLIENTSECRET, REDIRECT_URI} from "./index.astro"

// const AUTH_POST_ENDPOINT = "https://notify-bot.line.me/oauth/token"
// const PARAMS = {
// 	method: "POST",
// 	headers:{
// 		"Content-Type": "application/x-www-form-urlencoded",
// 	},
// 	grant_type:"authorization_code",
// 	code:code,
// 	redirect_uri:REDIRECT_URI,
// 	client_id:CLIENTID,
// 	client_secret:CLIENTSECRET,
// }

// let res, jsonData, token;
// async function fetchToken() {
//     res = await fetch(AUTH_POST_ENDPOINT, PARAMS);
//     jsonData = await res.json();
//     token = jsonData.access_token;
// }
// fetchToken();
---
<Common 
	pageTitle="認証が完了しました"
/>
<main class="container flex-col flex mx-auto">
	<header class="p-5 bg-gray-400 w-full">テスト</header>
	<section class="container mx-auto p-3">
		<button onclick="fetchAccessToken()">アクセストークン取得</button>
		<!-- <dl>
            <div class="flex lg:flex-col gap-2 mb-5">
                <p>取得Code</p>
                <p>{code}</p>
            </div>
			<div class="flex lg:flex-col gap-2 mb-5">
                <dd>このページのURL</dd>
                <dd>{Astro.url}</dd>
                <dd>{Astro.url.searchParams.get(code)}</dd>

                <dd>{NOW_URL}</dd>
            </div>
			<div  class="flex lg:flex-col gap-2 mb-5">
                <dd>POSTリクエストに対するレスポンス全容</dd>
                <dd>{res}</dd>
            </div>
			<div  class="flex lg:flex-col gap-2 mb-5">
                <dd>POSTリクエストに対するJSONデータ</dd>
                <dd>{jsonData}</dd>
                <dd>{token}</dd>
            </div>
		</dl> -->
	</section>
	<footer class="p-5 bg-blue-500 w-full">フッター</footer>
</main>

<script>
    async function fetchAccessToken(code:string) {
        const response = await fetch('/api/auth', {
            method: 'POST',
            headers: {
            'Content-Type': 'application/json',
            },
            body: JSON.stringify({ code }),
        });

        if (!response.ok) {
            throw new Error('Failed to fetch access token');
        }

        const data = await response.json();
        console.log(data.accessToken);
        return data.accessToken;
    }
</script>