---
import Common from "../components/Common.astro";
import {CLIENTID, CLIENTSECRET, REDIRECT_URI} from "./index.astro"
// const NOW_URL = Astro.url;

let code = ""
if(Astro.request.method === "POST"){
	const formData = await Astro.request.formData();
	const codeValue = formData.get('code');
	if(codeValue !== null){
		code = codeValue.toString();
	}
}

const AUTH_POST_ENDPOINT = "https://notify-bot.line.me/oauth/token"
const PARAMS = {
	method: "POST",
	headers:{
		"Content-Type": "application/x-www-form-urlencoded",
	},
	grant_type:"authorization_code",
	code:code,
	redirect_uri:REDIRECT_URI,
	client_id:CLIENTID,
	client_secret:CLIENTSECRET,
}

// let response = await fetch(AUTH_POST_ENDPOINT, PARAMS)
// let jsonData = await response.json()
---
<Common 
	pageTitle="認証が完了しました"
/>
<main class="container flex-col flex mx-auto">
	<header class="p-5 bg-gray-400 w-full">テスト</header>
	<section class="container mx-auto p-3">
		<h2 class="text-3xl text-green-500 font-bold text-center">LINEログイン認証</h2>
		<a href="" target="_blank" class="btn bg-blue-600 flex justify-center p-2 mt-4 rounded-2xl text-white hover:bg-blue-200 hover:text-blue-700 transition-shadow lg:w-52 lg:mx-auto">ここからログインする</a>
		<dl>
			<div class="flex lg:flex-col gap-2 mb-5">
                <dd>このページのURL</dd>
                <p>{Astro.response.status}</p>
                <!-- <dd>{NOW_URL}</dd> -->
            </div>
            {AUTH_POST_ENDPOINT}
			<div  class="flex lg:flex-col gap-2 mb-5">
                <dd>POSTリクエストに対するレスポンス全容</dd>
                <!-- <dd>{response}</dd> -->
            </div>
            {PARAMS.client_id}
			<div  class="flex lg:flex-col gap-2 mb-5">
                <dd>POSTリクエストに対するJSONデータ</dd>
                <!-- <dd>{jsonData}</dd> -->
            </div>
		</dl>
	</section>
	<footer class="p-5 bg-blue-500 w-full">フッター</footer>
</main>